body{
    font-family: sans-serif;
}

table{
    background-color: #E8DCFF;
    border: collapse;
}

.txt {
    background-color: #FEFFB0;
    font-weight: bold;
    text-align: right;
}

#sum,#resultsum{
    color: #174C68;
    font-weight: bold;
    font-size: 18px;
}